@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

body {
font: 500 16px 'roboto', sans-serif;
color: #0f141e;
background: #ddd;
padding-left: 10px;  
}

h1{color: rgb(61, 61, 61);}

#aboutme {
  max-width: 600px;  /* Максимальная ширина текста */
  width: 100%;        /* Адаптивность: займет всю доступную ширину, но не больше 600px */
  margin-left: 20px;     /* Центрирование блока по горизонтали */
  color: #4e5257;
}


td, th {
    padding: 10px; /* отступы внутри ячеек */
}

#hobby {
background: lightsalmon;
border-radius:15px;
}

#job
{
    background: cyan;
    border-radius:15px;
}
.card{
padding-left: 5px;    
}
